@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Condensed&family=Mirza:wght@500&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'IBM Plex Sans Condensed',
        sans-serif;
    font-family: 'Mirza',
        cursive;
}

body {
    background: url("../img/123.jpg") no-repeat center;
    background-size: 120% 100vh;

}


#container {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;

}

#main-container {
    background-color: black;
    width: 1300px;
    height: 80%;
    border-radius: 25px;
    padding: 2em;
    display: flex;
    margin: 0.5em;

}

.section1 {
    width: 49%;
    padding-left: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}


.section2 {
    width: 49%;
}


#heading {

    text-align: center;
    font-size: 2.3em;
    font-family: 'Arial',
        sans-serif;
    margin-bottom: 0.8em;

}

li {
    text-align: justify;
    font-family: 'Arial',
        sans-serif;
    line-height: 1.8;
    font-size: 18px;
}

img {
    width: 110%;
    height: 100%;
}

.wish-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#wish {
    text-align: center;
    font-size: 8em;
    font-family: 'Arial',
        sans-serif;
    margin-top: 0.4em;

}

button {
    border: 0px;
    cursor: pointer;
    margin: 1.5em;
    border-radius: 10px;
    padding: 7px;
    font-size: 1.8em;
    background-color: #f2aa4cff;
    color: white;
    width: 100px;
}

a {
    color: white;
    text-decoration: none;
}


/* mobile css */


@media only screen and (min-device-width: 375px) and (max-device-width: 1050px) {
    li {
        font-size: 14px;
    }
}


@media only screen and (min-device-width: 375px) and (max-device-width: 735px) {

    #main-container {
        flex-direction:column-reverse;
        height: 100%;
        padding: 10px;
    }

    img{
        height: 250px;
        width: 350px;
    }

    .section1 {
        width: 100%;
    }
    .section2 {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    #heading,#wish {
        font-size: 25px;
    }
}
