@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Condensed&family=Mirza:wght@500&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Arial',
        sans-serif;
    color: white;
    font-family: 'Arial',
        cursive;
}

body {
    background: url('../img/ranking.jpg') no-repeat center;
    background-size: 100% 100%;
}

#container {
    text-align: center;
}

#table-container {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
#heading{
    font-size: 50px;
}

#ranking-table{
    width: 70%;
}
