@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Condensed&family=Mirza:wght@500&display=swap');

* {
    font-family: 'IBM Plex Sans Condensed',
        sans-serif;
    font-family: 'Mirza',
        cursive;
}


@media screen and (max-width: 768px){ 
body .bgimage{
    width: 80vw;
    height: 45vh;
    background-size: contain;
    
}
}