@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500&family=Roboto:wght@400;500&display=swap');
.img{
    align-items: center;
    justify-items: center;
    margin-left: -30%;
}
body{
      display:flex;
      justify-content: space-between;
      background: black;
}
/* font-family: 'Roboto', sans-serif;
font-family: 'Oswald', sans-serif; */
.Feadback{
    display: flex;
    justify-content: center;
    align-items: center;
   background-color: #FF10F0;
   color: white;
    font-family: 'Merienda','Times New Roman', Times, serif;
    width: 40vw;
    /* height  */
    margin-top: 7vw;
    margin-right: 5vw;
    margin-left: 33%;
    border-radius: 8%;
}
form h2 {
    padding: 3.5vw;
        padding-left: 3.5vw;
    margin: auto;
    padding-left: 6vw;
    font-size: 49px;
}
.email{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding:1vw;
}
.email p{
    margin: 1vh;
    font-size:32px;
}
input[type="text"] , input[type="email"],input[type="int"]{
    margin: 2vh;
    height: 2vw;
    width:20vw;
    padding: 1vh;
    font-size: 30px;

}
.button{
    margin: 1em;
    padding:10px;
    background-color: black;
    width:22vw;
    color: white;
    border: 1px ;
    border-radius: 6px;
    font-size:1.23rem;
    cursor: pointer;
}
.function{
    display:flex;
    justify-content: center;
}




@media only screen and (min-device-width: 375px) and (max-device-width: 1130px) {


   form h2 {
        font-size: 30px;
    }

    #email {
        font-size: 25px;
    }

}

@media only screen and (min-device-width: 375px) and (max-device-width: 710px) {

#body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img {
    width: 80%;
    margin: 5%;
}
.Feadback {
    margin: 5%;
}

form h2 {
    font-size: 20px;
}

#email {
    font-size: 15px;
}

input[type="email"] {
    margin-top: 10px;
    height: 5px;
    width: 75px;
}
}
